Add charset to Content-Type header in redpen-server's response.

redpen-server's response does not contain charset information.
If you do not specify it, ISO-8859-1 may be used at application/json in addition to text/*.
ISO-8859-1 is referred to in RFC2616, and used by PowerShell, etc. (sentence is corrupted.)
Please add charset information or use Unicode escape notation(\uXXXX).

PS C:\>(Invoke-RestMethod -Uri http://redpen.herokuapp.com/rest/document/validate/ -Method Post -Body @{lang="ja"; format = "json"; documentParser="PLAIN"; document="古池や,蛙飛び込む水の音"}).errors[-1]

                   
sentence               : å¤æ± ã,èé£ã³è¾¼ãæ°´ã®é³
endPosition            : @{offset=4; lineNum=1}
validator              : InvalidSymbol
lineNum                : 1
sentenceStartColumnNum : 0
message                : Found invalid symbol ",".
startPosition          : @{offset=3; lineNum=1}


RFC2616 ( https://www.ietf.org/rfc/rfc2616.txt ), 
>   The "charset" parameter is used with some media types to define the
   character set (section 3.4) of the data. When no explicit charset
   parameter is provided by the sender, media subtypes of the "text"
   type are defined to have a default charset value of "ISO-8859-1" when
   received via HTTP. Data in character sets other than "ISO-8859-1" or
   its subsets MUST be labeled with an appropriate charset value. See
   section 3.4.1 for compatibility problems.


Thank you very much for the valuable report @karronoli! We will reproduce the behavior and fix it.

FYI, it is often a problem at somewhere.
https://github.com/request/request/issues/383

The default encoding ot 'application/json' is UTF-8 at Section 3 in RFC4627
http://tools.ietf.org/html/rfc4627

But some http client doesn't know the encoding.
You may close this issue if you don't concerned.


I'll take care of the issue.

Thanks!

I can request by PowerShell! Thanks!